
.navbar {
	
	margin-bottom: 0px;
	
}

.navbar-toggle.navbar-left {
	
	margin-left: 10px;
	
}

#navbar-socials {
	
	font-size: 1.5em;
	margin-top: 10px;
	margin-right: 10px;
	
}

#navbar-socials a {
	
	margin-left: 12px;
	
}

.page-header {
	
	margin-top: 0px;
	
}

.jumbotron {
	
	background-image: url("../images/bgyb.png");
	padding-bottom: 0;
		
}

.logo-area {
	
	color: #3399ff;
	font-family: Ubuntu;
	text-shadow: 0.06em 0.06em #000;
	text-align: center;
	
	
}

.slogan {
	
	font-family: VT323;
	color: #fff;
	background-color: #222;
	margin: 0px;
	width: 100%;
	box-shadow: 0px 10px 5px #888;
	
}

.slogan-text {

	padding: 1%;
	
}

@media(max-width:767px){

	.textbox {
	
		font-size: 85%;
	
	}
	
	.textbox .media-middle img {
	
		width: 130px;
	
	}

}
@media(min-width:768px){

	.textbox {
	
		font-size: 110%;
	
	}

}
@media(min-width:992px){

	.textbox {
	
		font-size: 130%;
	
	}

}
@media(min-width:1200px){

	.textbox {
	
		font-size: 150%;
	
	}

}

.textbox {
	
	background-color: #DCDCDC;
	padding: 10px;
	border-color: #ccc;
	border-style: outset;
    border-width: medium;
	box-shadow: 10px 10px 5px #888;
	margin-bottom: 20px;

}

.textbox .media-middle img {

	background-color: #C0C0C0;
	border-color: #ccc;
	border-style: inset;
	border-width: medium;
	
}

.textbox .media-body {

	font-family: 'Ubuntu';
	padding-left: 10px;

}

.textbox .media-heading {

	font-size: 120%;
	font-weight: bold;

}

main {

	margin-bottom: 10px;

}


